# Data

In [1]:
# From https://www.springboard.com/blog/beginners-guide-neural-network-in-python-scikit-learn-0-18/ 
import pandas as pd
kickstarter = pd.read_csv('../datasets/kickstarter-2018-reduced.csv')
kickstarter.head()

,category,main_category,currency,goal,launched_utc,state,backers,country,usd pledged,time_open
0,Poetry,Publishing,GBP,1000.0,1439295148,failed,0,GB,0.0,1415
1,Narrative Film,Film & Video,USD,30000.0,1504327437,failed,15,US,100.0,1438
2,Narrative Film,Film & Video,USD,45000.0,1357950050,failed,3,US,220.0,1080
3,Music,Music,USD,5000.0,1331954651,failed,1,US,1.0,721
4,Film & Video,Film & Video,USD,19500.0,1435998903,canceled,14,US,1283.0,1336

In [2]:
kickstarter['main_category'], main = pd.factorize(kickstarter['main_category'])
kickstarter['country'], country = pd.factorize(kickstarter['country'])
kickstarter['state'], state = pd.factorize(kickstarter['state'])
kickstarter['category'], cat = pd.factorize(kickstarter['category'])
kickstarter = kickstarter.fillna(0)
kickstarter.head()

,category,main_category,currency,goal,launched_utc,state,backers,country,usd pledged,time_open
0,0,0,GBP,1000.0,1439295148,0,0,0,0.0,1415
1,1,1,USD,30000.0,1504327437,0,15,1,100.0,1438
2,1,1,USD,45000.0,1357950050,0,3,1,220.0,1080
3,2,2,USD,5000.0,1331954651,0,1,1,1.0,721
4,3,1,USD,19500.0,1435998903,1,14,1,1283.0,1336

In [3]:
kickstarter.describe().transpose()

,count,mean,std,min,25%,50%,75%,max
category,29999.0,3.886816e+01,3.454452e+01,0.0,9.000000e+00,3.000000e+01,5.600000e+01,1.580000e+02
main_category,29999.0,4.961465e+00,4.103028e+00,0.0,1.000000e+00,4.000000e+00,8.000000e+00,1.400000e+01
goal,29999.0,3.967989e+04,7.434643e+05,1.0,2.000000e+03,5.000000e+03,1.600000e+04,1.000000e+08
launched_utc,29999.0,1.411615e+09,6.106611e+07,3600.0,1.367597e+09,1.417417e+09,1.458149e+09,1.514881e+09
state,29999.0,9.026301e-01,1.027857e+00,0.0,0.000000e+00,0.000000e+00,2.000000e+00,5.000000e+00
backers,29999.0,1.042569e+02,8.993266e+02,0.0,2.000000e+00,1.200000e+01,5.600000e+01,8.558100e+04
country,29999.0,1.727258e+00,2.814654e+00,0.0,1.000000e+00,1.000000e+00,1.000000e+00,2.200000e+01
usd pledged,29999.0,6.834517e+03,7.508648e+04,0.0,1.600000e+01,3.900000e+02,3.044610e+03,8.596475e+06
time_open,29999.0,8.312338e+02,2.078190e+03,24.0,7.200000e+02,7.200000e+02,8.895000e+02,3.568090e+05

In [4]:
kickstarter.shape

(29999, 10)

In [5]:
X = kickstarter.drop('state', axis=1)
X = X.drop('currency', axis=1)
y = kickstarter['state']

# Train Test Split

In [6]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y)

# Data Preprocessing

In [7]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()

In [8]:
# Fit to training data
scaler.fit(X_train)
StandardScaler(copy=True, with_mean=True, with_std=True)

StandardScaler(copy=True, with_mean=True, with_std=True)

In [9]:
# Apply the transformations to the data
X_train = scaler.transform(X_train)
X_test = scaler.transform(X_test)

# Training the Model

In [10]:
from sklearn.neural_network import MLPClassifier

In [11]:
mlp = MLPClassifier(hidden_layer_sizes=(13,13,13), max_iter=500)
mlp.fit(X_train, y_train)

MLPClassifier(activation='relu', alpha=0.0001, batch_size='auto', beta_1=0.9,
       beta_2=0.999, early_stopping=False, epsilon=1e-08,
       hidden_layer_sizes=(13, 13, 13), learning_rate='constant',
       learning_rate_init=0.001, max_iter=500, momentum=0.9,
       nesterovs_momentum=True, power_t=0.5, random_state=None,
       shuffle=True, solver='adam', tol=0.0001, validation_fraction=0.1,
       verbose=False, warm_start=False)

In [12]:
MLPClassifier(activation='relu', alpha=0.0001, batch_size='auto', beta_1=0.9,
             beta_2=0.999, early_stopping=False, epsilon=1e-08,
             hidden_layer_sizes=(13,13,13), learning_rate='constant',
             learning_rate_init=0.001, max_iter=500, momentum=0.9,
             nesterovs_momentum=True, power_t=0.5, random_state=None,
             shuffle=True, solver='adam', tol=0.0001, validation_fraction=0.1,
             verbose=False, warm_start=False)

MLPClassifier(activation='relu', alpha=0.0001, batch_size='auto', beta_1=0.9,
       beta_2=0.999, early_stopping=False, epsilon=1e-08,
       hidden_layer_sizes=(13, 13, 13), learning_rate='constant',
       learning_rate_init=0.001, max_iter=500, momentum=0.9,
       nesterovs_momentum=True, power_t=0.5, random_state=None,
       shuffle=True, solver='adam', tol=0.0001, validation_fraction=0.1,
       verbose=False, warm_start=False)

# Predictions and Evaluation

In [13]:
predictions = mlp.predict(X_test)

In [14]:
from sklearn.metrics import classification_report, confusion_matrix
print confusion_matrix(y_test, predictions)

[[3532    1  321    8    4    0]
 [ 710    0   59    0    1    0]
 [ 166    0 2530    3    5    0]
 [  33    0   17   19    0    0]
 [   0    0    0    0   61    0]
 [  22    0    8    0    0    0]]

In [15]:
print classification_report(y_test, predictions)

             precision    recall  f1-score   support

          0       0.79      0.91      0.85      3866
          1       0.00      0.00      0.00       770
          2       0.86      0.94      0.90      2704
          3       0.63      0.28      0.38        69
          4       0.86      1.00      0.92        61
          5       0.00      0.00      0.00        30

avg / total       0.73      0.82      0.77      7500

/home/rocket/anaconda2/lib/python2.7/site-packages/sklearn/metrics/classification.py:1135: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples.
  'precision', 'predicted', average, warn_for)

In [16]:
len(mlp.coefs_)

4

In [17]:
len(mlp.coefs_[0])

8

In [18]:
len(mlp.intercepts_[0])

13